<section class="products-container">
	@foreach(var product in ProductsList)
	{
		<ProductCard ImageNotFoundURL="@ImageNotFoundURL" Product="product"/>
	}
</section>

@code {
	[Parameter]
	public string ImageNotFoundURL { get; set; } = string.Empty;

	[Parameter]
	public List<ProductModel> ProductsList { get; set; } = new List<ProductModel>();
}
