p {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 13px;
}

img {
    height: 150px;
    object-fit: scale-down;
    padding: 10px;
}

.product-card {
    border: solid 1px;
    border-radius: 10px;
}

.card-body {
    padding: 10px;
}