<header>
	<h1>OnlineStore</h1>

	<div class="search-bar">
		<input type="text" placeholder="" />
		<button class="btn btn-dark">Search</button>
	</div>

	<nav>
		<h3 class="nav-item">View all</h3>
		<h3 class="nav-item">Men's Clothing</h3>
		<h3 class="nav-item">Women's Clothing</h3>
		<h3 class="nav-item">Jeweleries</h3>
		<h3 class="nav-item">Electronics</h3>
	</nav>
</header>

