@page "/admin"

<div class="container">
	<form>
		<div>
			<label>Username</label>
			<input type="text"/>
		</div>
		<div>
			<label>Password</label>
			<input type="password"/>
		</div>
		<div style="text-align: center">
			<button type="submit">Login</button>
		</div>
	</form>
</div>